@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage-hover:hover {
  position: relative;
  top: -5px;
}

#categories,
#budget,
#expenses,
#spending-chart {
  width: 450px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  box-shadow: 2px 2px 2px lightgrey;
  overflow: overlay;
}

/* Chatbox */

.chat-container {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 50px #ccc;
  background-color: #ffffff;
  border-radius: 10px;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1000;
}

.send-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.send-box {
  flex-grow: 1;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-right: 15px;
}

.send-button {
  display: flex;
  align-items: center;
  margin-left: 2px;
}

.option-button {
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
  background-color: rgb(253, 247, 171);
}

.option-button:hover {
  padding: 8px;
  background-color: white;
  border: 5px solid rgb(253, 247, 171);
}

.messages {
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.message-container {
  display: flex;
  width: 100%;
}

.message-sender-user {
  align-self: flex-start;
  background-color: #dadada;
  padding: 8px 15px;
  margin: 5px;
  position: relative;
}

.message-sender-gpt {
  align-self: flex-end;
  background-color: #007bff;
  color: #fff;
  padding: 8px 15px;
  margin: 5px;
  position: relative;
}

.message-sender-user:before,
.message-sender-user:after,
.message-sender-gpt:before,
.message-sender-gpt:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}

.message-sender-user:before {
  border-left: 10px solid transparent;
  border-right: 10px solid #dadada;
  border-top: 10px solid #dadada;
  border-bottom: 10px solid transparent;
  left: -13px;
  top: 0px;
}

.message-sender-user:after {
  border-left: 7px solid transparent;
  border-right: 7px solid #dadada;
  border-top: 7px solid #dadada;
  border-bottom: 7px solid transparent;
  left: -7px;
  top: 4px;
}

.message-sender-gpt:before {
  border-left: 10px solid #007bff;
  border-right: 10px solid transparent;
  border-top: 10px solid #007bff;
  border-bottom: 10px solid transparent;
  right: -13px;
  top: 0px;
}

.message-sender-gpt:after {
  border-left: 7px solid #007bff;
  border-right: 7px solid transparent;
  border-top: 7px solid #007bff;
  border-bottom: 7px solid transparent;
  right: -7px;
  top: 4px;
  height: fit-content;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 99%;
  align-items: center;
  padding: 2px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.card-header svg {
  cursor: pointer;
}

/* Nav Styles */

nav ul {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 10px;
  justify-content: end;
  align-items: center;

  li {
    margin: 0 10px;
    cursor: pointer;
  }

  li:hover {
    position: relative;
    top: -3px;
  }
}

/* Modal Styles */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-background {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
  animation: fadeIn 400ms;
}

.modal {
  height: fit-content;
  width: 600px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 15px;
  margin: auto;
  color: var(--text);
  transition: all 500ms linear;
  animation: fadeIn 400ms;
}

.modal-content {
  margin: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.exit {
  cursor: pointer;
  float: right;
}

/* Form Styles */

.modal-content form {
  text-align: center;

  h2 {
    font-size: 24px;
  }

  input,
  label,
  select,
  #radio-buttons {
    margin: 1% 5%;
    padding: 1%;
  }

  input,
  select,
  button {
    border: 1px solid lightgrey;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
  }

  .modal-form-line {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .form-line-left {
    width: 20%;
  }

  .form-line-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    padding: 10px;
    border-radius: 10px;
  }
}

.user-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2%;

  input {
    /* border border-zinc-600 px-2 py-1 rounded */
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }
}

.user-submit {
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}

#total-budget,
#income {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}

#floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: transform 0.5s ease;
}

#floating-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Expenses and Income Page Styles */

#expense-income-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#expense-income-table table {
  border-collapse: separate;
  border-spacing: 10px 10px;
  width: 100%;
  padding-left: 2%;
}

#expense-income-table p {
  text-align: center;
  width: 100%;
}

#expense-income-table th, #expense-income-table td {
  padding: 5px;
  text-align: left;
}

#expense-income-nav svg, #expense-income-nav button {
  margin: 10px;
}